:root {
  --color-offwhite: #f5f5f5;
  --color-primary: #00D1AC;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
  line-height: 1em;
  margin: 0;
}

h1 {
  color: var(--color-primary);
  font-size: 3em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.5em;
}

@media (min-width: 40em) {
  h1 {
    font-size: 4em;
  }
}

.text-center {
  text-align: center;
}

header {
  padding: 1em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 41em;
  margin-inline: auto;
}

header > a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #000;
  transition: transform 200ms ease-in-out;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0) scale(0.9);
}

header > a:hover {
  transform: scale(1);
}

header > .name {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > .name > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

header > .name > img {
  border-radius: 500px;
}

.intro > .buttons {
  display: flex;
  justify-content: center;
}

.intro > .buttons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 9em;
  height: 2.5em;
  background-color: var(--color-primary);
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  transition: transform 200ms ease-in-out;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0) scale(0.9);
}

.intro > .buttons > a:hover {
  transform: translateZ(0) scale(1.0);
}

.intro > .buttons > .resume {
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.skills {
  display: flex;
  justify-content: space-between;
}


