.App {
  display: flex;
}

.container {
  flex: 2;
  padding: 1rem;
}

.aside {
  background-color: tomato;
  flex: 1;
}

@media (max-width: 800px) {
  .aside {
    flex: 0;
  }
}

.welcome {
  flex: 1;
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.gh-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-decoration: none;
}

a:visited,
a:active {
  color: black;
}

.name-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: turquoise;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  text-align: center;
  background-color: gold;
}

.skills {
  background-color: pink;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  margin: 1em;
}
